#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body {
    color: var(--grey) !important;
    background-color: var(--blue) !important;
}
a {
    color: var(--grey) !important;
    text-decoration: none !important;
}

.grow {
    flex-grow: 1;
}
.text-grey {
    color: var(--grey) !important;
}
.text-orange {
    color: var(--orange) !important;
}
.text-pink {
    color: var(--pink) !important;
}
.text-red {
    color: var(--red) !important;
}
.bg-light-blue {
    background-color: var(--light-blue) !important;
}
.title,
.subtitle {
    font-size: 2.25rem;
}

.about {
    text-align: justify;
    font-size: 0.9rem;
}

.border-pink {
    border-bottom: 5px solid var(--pink) !important;
}
.logo {
    max-height: 200px;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.icono {
    will-change: filter;
    transition: filter 300ms;
}
.icono:hover {
    filter: drop-shadow(0 0 1.2em var(--grey));
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.pointer-normal {
    cursor: default;
}
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.card-img {
    height: 250px;
    object-fit: cover;
}
.proyectoContainer {
    border: 1px solid var(--dark-grey) !important;
}
.desc {
    font-size: 0.95rem;
}

li {
    list-style: none;
}

.header {
    padding: 10px 0;
    position: sticky !important;
    top: 0 !important;
    z-index: 10 !important;
}

.nav {
    background: #0c1f3b;
    border-radius: 15px;
    width: 95%;
    margin: 0 auto;
    animation: enhance-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 150px;
}

@media (min-width: 850px) {
    .title {
        font-size: 72px;
    }
    .subtitle {
        font-size: 40px;
    }
    .about {
        font-size: 1.1rem;
    }
    .nav {
        width: 40%;
    }
}

@keyframes enhance-header {
    to {
        background: #22458274;
        border: none;
        backdrop-filter: blur(10px);
    }
}

#proyectos .cardProyecto {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 15% cover 40%;
}

@keyframes reveal {
    from {
        opacity: 0;
        scale: 0.9;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
