:root {
    --blue: #0a192f;
    --orange: #f9b82c;
    --grey: #ccd6f6;
    --dark-grey: #292d3c;
    --red: #b6246a;
    --pink: #db2777;
    --light-blue: #112240;

    color-scheme: light dark;
    color: var(--grey);
    background-color: var(--blue);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
        "Noto Color Emoji";
}
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
